* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  color: #e7c321;
  text-shadow: 2px 1px #f30acc;
}

body {
  background-image: url("https://images6.alphacoders.com/939/939537.jpg");
  background-size: cover, auto;
  background-repeat: no-repeat;
  padding-left: 5%;
}

h1 {
  text-align: center;
  font-size: 200%;
}

.contactlinks {
  vertical-align: text-top;
  width: 150px;
  margin: auto;
  display: inline-block;
}

.contactborders {
  border: 3px solid white;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 10px;
  width: 500px;
  height: 250px;
  margin: 50px;
}

.cvdate {
}
