.contactborders {
  border: 3px solid var(--textcolor);
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 0 30px;
  height: fit-content;
  display: flex;
  align-items: center;
  background-color: var(--containeropacity);
}

.contacimage {
  vertical-align: text-top;
  width: 150px;
  margin: auto;
}

.contactgrid {
  display: grid;
  grid-template-areas: "g l s";
}

.linkedin {
  grid-area: l;
}
