.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 300px 1fr 1fr;
  justify-content: center;
  gap: 7%;
}

h1 {
  grid-area: 1 / 2;
}

.contactinfo {
  grid-area: 3 / 2;
}

.interests {
  grid-column-start: 3;
  grid-row-start: 2;
}

.profilepic {
  grid-column-start: 3;
  grid-row-start: 1 span 2;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  grid-row-start: 5;
}

.contactgrid {
  grid-area: 2 / 2;
}

.cv {
  grid-area: 3 / 2;
  background-color: var(--containeropacity);
}

.aboutme {
  grid-row-start: 2 span 1;
}

.favorites {
  grid-area: 3 / 3;
  margin-top: 30%;
  padding: 0;
  height: fit-content;
}

.cvlist {
  grid-area: 4 / 2;
}

.cv {
  height: fit-content;
